.titulo{
    color:rgb(241, 78, 29);
    font-size: 75px;
    text-align: center;
}
.liv{
    text-align: center;
}
body{
    background-color: rgb(241, 225, 172);
}
.piv{
  text-align: center;
}
.piv2{
  text-align: right;
}
.piv3{
  text-align: left;
}
.links-pags a:hover{
color: rgb(70, 10, 235);
}
.links-pags {
position: fixed;
top: 0;
left: 0;
width: 100%;
display: flex;
gap: 20px;
color: rgb(82, 13, 194);
text-decoration: none;
font-family: Georgia, 'Times New Roman', Times, serif;
padding: 20px;
box-sizing: border-box;
justify-content: flex-end;
}
.links-pags {
font-family: 'Playfair Display', serif;
font-size: 18px;
}
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    color: rgb(241, 78, 29);
    text-align: center;
    letter-spacing: 2px;
}
