
.liv{
     text-align: left;
      margin-top: 70px;
}
body{
    background-color: rgb(231, 205, 132);
}
.piv{
  text-align: center;
}
.piv2{
  text-align: right;
}
.piv3{
  text-align: left;
}
.links-pags a:hover{
color: rgb(70, 10, 235);
}
.links-pags {
position: fixed;
top: 0;
left: 0;
width: 100%;
display: flex;
gap: 20px;
color: rgb(82, 13, 194);
text-decoration: none;
font-family: Georgia, 'Times New Roman', Times, serif;
padding: 20px;
box-sizing: border-box;
justify-content: flex-end;
}
.links-pags {
font-family: 'Playfair Display', serif;
font-size: 18px;
}
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    color: rgb(241, 78, 29);
    text-align: center;
    letter-spacing: 2px;
}
.logo img {
  width: 120px;
  height: auto;
  display: block;
  margin-left: 20px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.136);
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
