.voltar a{
  position: fixed;
   bottom: 20px;
   right: 20px;
   margin: 0;
   color: rgb(33, 21, 146);
} 
body{
  background-image: url(iracema.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin:auto;
  padding: auto;
}
h1{
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  margin:50px auto;  
  max-width: 500px;
  color:rgb(240, 217, 6) ;
  background-color: rgb(251, 251, 252);
  padding: 10px;
  border-radius: 10px;
  font-size: 75px;
}
.bloco{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* rgb(163, 163, 224); 
rgb(57, 57, 209)*/
.quadro{ 
  width: 600px;
  background-color: rgb(231, 219, 110);
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  border: 5px solid rgb(219, 206, 26);
}
.resenha h3{
  text-align: left;
   max-width: 1000px;
  background-color: rgb(251, 251, 252);
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 10px;
  font-size: 15px;    
  flex-direction:row; 
  -webkit-text-stroke: 2px rgb(65, 27, 1); 
   color:rgb(65, 27, 1); 
   font-size: 25px;
}
.alinha{
  display: flex;
  flex-direction: row;
}